<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALNqBXLFGRUeTpPN23rPcd5npP_8dvekU</string>
	<key>GCM_SENDER_ID</key>
	<string>767428666945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solutionChallenge.trabFront</string>
	<key>PROJECT_ID</key>
	<string>trab-92aff</string>
	<key>STORAGE_BUCKET</key>
	<string>trab-92aff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767428666945:ios:56ec87abd9a5dc3667c8c0</string>
	<key>CLIENT_ID</key>
	<string>335769600902-d1vsh64gqc6ml4l2fh6dima598ap0abd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335769600902-d1vsh64gqc6ml4l2fh6dima598ap0abd</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solutionChallenge.trabFront</string>
</dict>
</plist>