<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>TraB</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TraB</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>GOOGLE_MAP_API_KEY</key>
	<string>${GOOGLE_MAP_API_KEY}</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${KAKAO_LOGIN_API_KEY}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Trab</string>
				<string>${GOOGLE_LOGIN_API_KEY}</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSMicrophoneUsageDescription</key>
	<string>microphone</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
      	<string>kakaokompassauth</string>
		<string>http</string>
		<string>sms</string>
		<string>tel</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>&quot;TraB&quot;이 찍은 사진을 분류하고, 프로필 사진을 등록하기 위해 사용.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>&quot;TraB&quot;이 사용자의 플로깅 경로를 추적하기 위해 사용</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>&quot;TraB&quot;이 사용자의 플로깅 경로를 추적하기 위해 사용</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>&quot;TraB&quot;이 찍은 사진을 분류하고, 프로필 사진을 디바이스에 저장하기 위해 사용.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>&quot;TraB&quot;이 찍은 사진을 분류하고, 프로필 사진을 등록하기 위해 사용.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<false/>
</dict>
</plist>